
  h1 {
   color :white;
   font-weight:bolder;
   text-align:center;
   font-size: 3EM;
 }

  h2 {
   color :white;
   text-align: center;
   font-size: 2EM;
 }

 body {
   background-image: linear-gradient(-90deg,white,black);
}

  ul {
    color:white
  }


a:hover {
  color:white;
background-color: gold
}

p {
  color:white
}

.card-text {color:red;
}

a {color:black;}


.cardbox {display:flex;
justify-content: center;
}
